    
    <footer>
          <div id="footer">
         
                
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <p class="fh5co-social-icons">
                    <a href="#"><i class="icon-twitter2"></i></a>
                    <a href="#"><i class="icon-facebook2"></i></a>
                    <a href="#"><i class="icon-instagram"></i></a>
                    <a href="#"><i class="icon-dribbble2"></i></a>
                    <a href="#"><i class="icon-youtube"></i></a>
                  </p>
                  <p>
                    Derechos de autor 2024 Free Html5 <a href="#">Fitness</a>.
                    Todos los derechos reservados. <br />
                    Hecho con <i class="icon-heart3"></i> Por  FITNESS
                   
                  </p>
                </div>
              </div>
            </div>
          </div>
        </footer>
