{% extends 'base.html.twig' %}


{% block body %}

	<section class="form-login">
		<input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
		<input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña">
		 <input class="botons" type="button" value="Iniciar Sesión">
		<p>
			<a href="#">¿Olvidó su Contraseña?</a>
		</p>
		<p>
			<a onclick="window.location.href='/register'">¿No tienes una cuenta? Regístrate aquí</a> 
            
		</p>
	</section>
{% endblock %}
