<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión - Página de Fitness</title>
    <link rel="stylesheet" href="./css/formularios.css">
</head>
<body>
    <div class="container">
        <form action="#" method="POST" class="form">
            <h2>Iniciar sesión</h2>
            <div class="form-control">
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" name="usuario" required>
            </div>
            <div class="form-control">
                <label for="contrasena">Contraseña</label>
                <input type="password" id="contrasena" name="contrasena" required>
            </div>
            <button type="submit">Iniciar sesión</button>
            <p class="form-footer">¿No tienes una cuenta? <a href="registro.html">Regístrate aquí</a></p>
        </form>
    </div>
</body>
</html>
