<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      Fitness &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta
      name="keywords"
      content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"
    />
    <meta name="author" content="FREEHTML5.CO" />

    <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css" />
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css" />
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <!-- Superfish -->
    <link rel="stylesheet" href="css/superfish.css" />

    <link rel="stylesheet" href="css/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechNews</title>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
   
    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="fh5co-wrapper">
      <div id="fh5co-page">
        <div id="fh5co-header">
            {% include "navegacion.html" %}
        </div>
        <!-- end:fh5co-header -->
        <div class="fh5co-hero">
          <div class="fh5co-overlay"></div>
          <div
            class="fh5co-cover"
            data-stellar-background-ratio="0.5"
            style="background-image: url(images/home-image.jpg)"
          >
            <div class="desc animate-box">
              <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2>¡Mejora Tu Vida Con El Poder del Deporte!</h2>
                        <p>
                            Descubre cómo el deporte y la actividad física pueden transformar tu vida y acercarte a tus objetivos. Te brindamos inspiración, información y herramientas para potenciar tu bienestar físico y mental. Únete a nosotros en este emocionante viaje hacia una versión más fuerte, más saludable y más feliz de ti mismo. ¡Tu cuerpo, mente y espíritu te lo agradecerán!
                        </p>
                    </div>                    
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>  <br>  <br>
        <main>
            <section id="dieta1">
                <h2>Dieta  Perdida de Peso</h2>
                <p>La dieta mediterránea es rica en frutas, verduras, aceite de oliva, pescado y cereales integrales. Es conocida por sus beneficios para la salud cardiovascular y puede ayudar en la pérdida de peso.</p>
                <p>Plan de dieta:</p>
                  <table class="table-container">
                    <tr>
                        <th>Día</th>
                        <th>Desayuno</th>
                        <th>Comida</th>
                        <th>Merienda</th>
                        <th>Cena</th>
                    </tr>
                    <tr>
                        <td>Lunes</td>
                        <td>Porridge de avena con arándanos. Café solo.	</td>
                        <td>Alcachofas al horno con vinagreta de Módena y pimienta negra.
                            Muslo de pollo deshuesado a la plancha con limón. Biscotes de pan integral.
                            Yogur desnatado.</td>
                        <td>Naranja con canela.	</td>
                        <td>Ensalada de tomate, queso fresco y hojas frescas de albahaca.
                            Hummus casero con crudités de verduras.
                            Gelatina sin azúcar</td>
                     
                    </tr>
                    <tr>
                        <td>Martes</td>
                        <td>Pan integral con aguacate y tomate cherry. Melón. Té verde.	</td>
                        <td>Ensalada verde.
                            Quinoa con verduras.
                            Yogur desnatado.</td>
                        <td>Fresas con zumo de naranja natural.	</td>
                        <td>Revuelto de 1 huevo con setas y gambas. Pan.
                            Yogur desnatado.</td>
                    </tr>
                    <tr>
                        <td>Miércoles</td>
                        <td>Bocadillo de humus y lechuga. 1 pera. Café con leche desnatada.	</td>
                        <td>Espárragos trigueros a la plancha.
                            Alubias con almejas.
                            Yogur desnatado.</td>
                        <td>2 kiwis.</td>
                        <td>Crema de calabacín, puerro y patata.
                            Emperador a la plancha.
                            Gelatina sin azúcar.</td>
                    </tr>
                    <tr>
                        <td>Jueves</td>
                        <td>Bebida de coco con semillas de chía. 1 mandarina. Café solo.	</td>
                        <td>Berenjena rellena de verduras y arroz integral.
                            Sepia a la plancha.
                            Yogur desnatado</td>
                        <td>1 plátano.</td>
                        <td>Espárragos blancos hervidos con 1 huevo escalfado y biscotes de pan integral.
                            Gelatina sin azúcar.</td>
                    </tr>
                    <tr>
                        <td>Viernes</td>
                        <td>Yogur con cereales tostados sin azúcar añadido y 1 plátano.	</td>
                        <td>Puré de calabaza y zanahoria al curry.
                            Conejo al horno. Pan.
                            Gelatina sin azúcar.</td>
                        <td>Arándanos y frambuesas.	</td>
                        <td>Rodaballo al horno con verduras y patata.
                            Yogur desnatado.</td>
                    </tr>
                    <tr>
                        <td>Sábado</td>
                        <td>Pan con ajo, tomate, aceite y sal. Bol con fresas. Infusión.	</td>
                        <td>Acelgas con patatas.
                            Solomillo de cerdo a la plancha.
                            Yogur desnatado.</td>
                        <td>2 mandarinas.</td>
                        <td>Sopa de verduras.
                            Tortilla de patata al microondas.
                            Yogur desnatado.</td>
                    </tr>
                    <tr>
                        <td>Domingo</td>
                        <td>Pan integral con pavo. 1 kiwi. Café con leche desnatada.	</td>
                        <td>Parrillada de verduras con patata.
                            Mejillones al vapor.
                            Gelatina sin azúcar.</td>
                        <td>1 pera.</td>
                        <td>Ensalada de pasta integral con atún, palitos de cangrejo y lentejas.
                            Yogur desnatado.</td>
                    </tr>
                </table>
            </section>
            <br>  <br>  <br>
            <section id="dieta2">
                <h2>Dieta Volumen</h2>
                <p>La dieta cetogénica es baja en carbohidratos y alta en grasas saludables. Se centra en la cetosis, un estado metabólico en el que el cuerpo quema grasa como principal fuente de energía.</p>
                <p>Plan de dieta:</p>
                <table class="table-container">
                    <tr>
                        <th>Día</th>
                        <th>Desayuno</th>
                        <th>Media Mañana</th>
                        <th>Comida</th>
                        <th>Merienda</th>
                        <th>Cena</th>
                    </tr>
                    <tr>
                        <td>Lunes</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                     
                    </tr>
                    <tr>
                        <td>Martes</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Miércoles</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Jueves</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Viernes</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Sábado</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Domingo</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </section>
            <br>  <br>  <br>
            <section id="dieta3">
                <h2>Dieta Perder Grasa:</h2>
                <p>La dieta vegetariana elimina la carne y se centra en alimentos vegetales como frutas, verduras, legumbres, granos y nueces. Puede ayudar a reducir el riesgo de enfermedades crónicas y promover la pérdida de peso.</p>
                <p>Plan de dieta:</p>
                <table class="table-container">
                    <tr>
                        <th>Día</th>
                        <th>Desayuno</th>
                        <th>Comida</th>
                        <th>Merienda</th>
                        <th>Cena</th>
                    </tr>
                    <tr>
                        <td>Lunes</td>
                        <td>Un zumo de limón natural diluido en un vaso de agua al levantarte
                            3 rodajas finas de raíz de jengibre orgánica
                            Bol con: 1 yogur natural sin azúcar, 1 puñado de cereales muesli naturales, 1 manzana con piel bien lavada y cortada en rodajitas finas.
                            Te rooibos o café sólo</td>
                        <td>Un bol pequeño de arroz integral hervido con espinacas frescas aliñados con aceite de oliva virgen extra
                            100g de seitán a la plancha
                            1 manzana cocida</td>
                        <td>Yogur natural con una cucharada de germen de trigo
                        </td>
                        <td>Sopa de cebolla, apio y calabacín con aceite de oliva y levadura de cerveza
                            Media piña natural
                            Infusión de menta y regaliz</td>
                     
                    </tr>
                    <tr>
                        <td>Martes</td>
                        <td>Un zumo de naranja natural
                            Un vaso de Té Pu Erh o café sólo
                            Una tostada de pan integral de centeno con tomate natural aliñado con aceite de oliva virgen extra en spray</td>
                        <td>Judías verdes cocidas al vapor
                            Pechuga de pollo a la plancha con rúcola
                            2 mandarinas</td>
                        <td>Yogur natural con 5-7 almendras si tostar ni salar
                    </td>
                        <td>Ensalada de apio, zanahoria, repollo y cebolla crudas aliñada con aceite de oliva
                          Tortilla francesa de 2 huevos
                          Una pieza de fruta de temporada</td>
                    </tr>
                    <tr>
                        <td>Miércoles</td>
                        <td>Un zumo de naranja natural
                          Un vaso de Té Earl grey o café sólo
                          Una rebanada de pan integral de 7 cereales con salmón ahumado</td>
                        <td>Brécol con tomate natural
                          1 pechuga de pollo de 150 g
                          Fruta de temporada</td>
                        <td>Yogur natural con 5-7 pistachos</td>
                        <td>Ensalada de tomate y queso mozzarella ligero aliñada con aceite de oliva virgen extra y orégano
                          Una rodaja de emperador a la plancha
                          Fruta de temporada</td>
                    </tr>
                    <tr>
                        <td>Jueves</td>
                        <td>Té negro con limón o café sólo
                          2 rodajas de piña natural con levadura de cerveza y jalea real
                          Una tortilla francesa con un toque picante de chile o cayena
                          Una tostada fina de pan integral</td>
                        <td>Ensalada de garbanzos cocidos con tomatitos cherry y queso mozarella en bolitas
                          Un filete de trucha a la plancha con un tomate natural
                          Una fruta de temporada</td>
                        <td>Yogur natural con 5-7 nueces
                        </td>
                        <td>Brócoli cocido al dente con una zanahoria y una patata pequeña
                          Muslos de pavo al horno con tomate natural
                          Un cítrico grande o 2 pequeños (naranjas, mandarinas, clementinas...)</td>
                    </tr>
                    <tr>
                        <td>Viernes</td>
                        <td>Zumo de naranja natural
                          Te rojo o pu Erh o café sólo
                          Un bol de yogur natural con un puñadito de copos de avena integra, una manzana con piel en láminas y 5-7 avellanas</td>
                        <td>Lentejas vegetales con hortalizas
                          Merluza a la plancha
                          Una fruta de temporada</td>
                        <td>Copos de avena con requesón y 2 ciruelas pasas
                        </td>
                        <td>Ensalada de hojas de rúcola con frutos rojos y queso de cabra
                          Pavo a la plancha con un tomate natural
                          Una fruta de temporada</td>
                    </tr>
                    <tr>
                        <td>Sábado</td>
                        <td>Un vaso de agua con zumo de medio limón
                          Un vaso de té rooibos o café solo
                          Un yogur natural con un puñado de muesli integral, 5 pasas, 5-7 nueces y una manzana con piel y en cubitos.</td>
                        <td>Arroz integral con champiñones
                          Mejillones al vapor con zumo de limón y pimiento rojo fresco picado
                          Una fruta de temporada</td>
                        <td>Una tostada de pan integral con tomate natural y aceite de oliva virgen extra
                          Una naranja o cítrico</td>
                        <td>Ensalada lechugas variadas con medio aguacate
                          Filete de ternera magra con ensalada de tomate y orégano
                          Una fruta de temporada</td>
                    </tr>
                    <tr>
                        <td>Domingo</td>
                        <td>Una manzana con piel bien lavada
                          Dos tostadas de pan de cereales con aceite de oliva virgen extra con tomate natural y jamón serrano sin grasa
                          Un bol de yogur natural o 30 g de queso fresco ligero
                          Té pu-Erh o café solo</td>
                        <td>Ensalada de patata cocida con piel, tomate en dados, cebolla y huevo duro aliñada con yogur y mostaza
                          Lubina al horno
                          Un sorbete de frutas naturales casero</td>
                        <td>Manzana con peil
                          Palomitas caseras sin sal ni mantequilla</td>
                        <td>Coliflor al vapor con zanahoria
                          Chuleta de cerdo a la plancha
                          Una fruta de temporada</td>
                    </tr>
                </table>
            </section>
        </main>
                </div>
               
        <br>  <br>  <br>
          {% include "footer.html" %}
      </div>
      <!-- END fh5co-page -->
    </div>
    <!-- END fh5co-wrapper -->

    <!-- jQuery -->

    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Stellar -->
    <script src="js/jquery.stellar.min.js"></script>
    <!-- Superfish -->
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.js"></script>

    <!-- Main JS (Do not remove) -->
    <script src="js/main.js"></script>
  </body>
</html>

